.button {
  cursor: pointer;
  height: 55px;
  background-color: $text-style-accent;
  color: $bg-color;
  border-radius: 10px;
  font-size: 14px; // var
  font-weight: 800;
  transition: .3s ease;
  border: none;
  width: 257px;
  
  @include on-tablet {
    height: 64px;
  }
  
  @include on-desktop {
    font-size: 16px;
  }
  
  &:hover {
    box-shadow: rgba(201, 234, 50, 0.3) 2px 2px 0px 2px;
  }
}