.logo {
  display: block;
  background-image: url(../../images/logos/logo-img.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 96px;
  height: 40px;
}