.logos {
  position: relative;
  margin-top: 50px;

  &__title {
    margin: 0;
    margin-bottom: 30px;
  }

  &__items {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    padding: 20px 0;
    animation: move 8000ms linear infinite;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__item {
    min-width: 172px;
    width: 100%;
    height: 90px;
    margin-right: 15px;
    background: #F7F5FB 50% / 70% no-repeat;
    border-radius: 5.44433px;
    background-color: #3B1325;
  }
}