.menu {
  text-align: center;
  
  @include on-tablet {
    text-align: left;
  }

  &__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    margin: 0;
    margin-bottom: 20px;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;

    @include on-tablet {
      columns: 2;
    }
  }

  &__item {
    display: block;
    margin-bottom: 10px;
  }

  &__link {
    text-decoration: none;
    font-size: 13px;
    color: $white;
  }
}