.speaker {
  position: relative;

  @include content-padding-inline;

  &__wrap {
    margin: 25px auto 80px;

    @include page-grid;

    @include on-tablet {
      margin-top: 40px;
      margin-bottom: 100px;
    }

    @include on-desktop {
      margin-top: 62px;
      margin-bottom: 150px;
    }
  }

  &__photo {
    background-image: url(../../images/speaker-photo.jpg);
    border-radius: 100%;
    border: 8px solid #B83856;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 260px;
    height: 260px;
    grid-column: 1 / -1;
    justify-self: center;

    @include on-tablet {
      grid-column: 1 / 7;
      height: 300px;
      width: 300px;
    }

    @include on-desktop {
      grid-column: 4 / 7;
      border-width: 18px;
      transform: translateX(-30px);
    }
  }

  &__about {
    grid-column: 1 / -1;
    line-height: 140%;

    @include on-tablet {
      grid-column: 7 / -1;
    }

    @include on-desktop {
      padding-top: 30px;
      grid-column: 7 / 10;
    }
  }

  &__name {
    margin: 0;
    font-size: 22px;
    text-align: center;
    font-weight: 700;

    @include on-tablet {
      font-size: 28px;
      text-align: left;
    }
  }

  &__experience {
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
    font-size: 12px;

    @include on-tablet {
      margin-bottom: 32px;
      text-align: left;
    }
  }

  &__benefits {
    list-style: none;
  }

  &__benefit {
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 140%;
    font-weight: 500;
    position: relative;

    @include on-tablet {
      margin-bottom: 20px;
    }

    &::before {
      content: '';
      position: absolute;
      left: -26px;
      top: 50%;
      transform: translateY(-50%);
      background-image: url(../../images/star-image.svg);
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      width: 14px;
      height: 14px;
    }
  }

  &__decor {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;

    &--pink {
      background-image: url(../../images/speaker-decor/speaker-decor-pink.svg);
      transform: translateX(-52%);
      bottom: auto;
      top: -64px;
      width: 176px;
      height: 181px;

      @include on-tablet {
        bottom: -53px;
        top: auto;
        transform: translateX(-20%);
        width: 435px;
        height: 420px;
      }

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-45%, -55%);
        width: 178%;
        height: 185%;
        border-radius: 50%;
        background: radial-gradient(50% 50% at 50% 50%, rgba(219, 56, 87, 0.4) 0%, rgba(219, 56, 87, 0) 100%);
        filter: blur(100px);
      }
    }
    
    &--accent {
      background-image: url(../../images/speaker-decor/speaker-decor-accent.svg);
      transform: translateX(50%);
      width: 136px;
      height: 152px;
      bottom: -24px;
      right: 0;

      @include on-tablet {
        width: 180px;
        height: 240px;
        bottom: -53px;
      }

      @include on-desktop {
        transform: translateX(50%);
        width: 382px;
        height: 474px;
      }

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-43%, -51%);
        width: 190%;
        height: 153%;
        border-radius: 50%;
        background: radial-gradient(50% 50% at 50% 50%, rgba(200, 233, 49, 0.4) 0%, rgba(53, 67, 29, 0) 100%);
        filter: blur(100px);
      }
    }
  }
}