.top-bar {
    white-space: nowrap;
    padding: 15px 0;

    @include page-grid;

    @include on-tablet {
      padding: 35px 0;
    }

    &__logo {
    margin: 0 auto;
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 1 / 3;
    }

    @include on-desktop {
      grid-column: 2 / 3;
    }
  }
  
  &__info {
    grid-column: 1 / -1;
    padding: 0;
    
    @include on-tablet {
      grid-column: 7 / -1;
    }
  }

  &__button {
    width: $mobile-width;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    background: linear-gradient(88.87deg, #C9EA32 0%, rgba(201, 234, 50, 0) 212.16%);
    border-radius: 4px;
    line-height: 148%;
    color: $text-dark;
    font-weight: 800;
    font-size: 16px;
    padding: 6px 15px 6px 40px;
    border: none;
    margin: 0 auto;
    margin-top: 50px;
    grid-column: 1 / -1;

    @include on-tablet {
      margin-bottom: 10px;
      padding: 6px 30px 6px 60px;
    }

    @include on-desktop {
      grid-column: 3 / 7;
      grid-row: 1 / 2;
      margin: 0;
      margin-left: 40px;
      margin-right: auto;
    }
    
    &-icon {
      transform: translateX(-3%);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;

      svg {
        width: 19px;
        height: 19px;
        display: block;
      }
    }

    &-text {
      transform: translateX(-3%);
    }
  }
}