// PAGE-SIZING
$tablet-min-width: 760px;
$desktop-min-width: 1260px;
$mobile-width: 320px;
$tablet-width: 760px;

// COLORS
$bg-color: #040B16;
$white: #F9F9F9;
$text-dark: #040B16;
$text-style-accent: #C9EA32;
$pink: #B83856;

// FONTS
$default-font: 'Gilroy', sans-serif;
$default-font-size: 16px;

// FONT SIZING
$h3-font-size: 22px;
$h3-font-size-tablet: 29px;
$h3-font-size-desctop: 38px;
